option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    AWS_REGION: ${AWS_REGION}
    TABLE_NAME: ${TABLE_NAME}
    CORS_ORIGIN: ${CORS_ORIGIN}

  aws:elasticbeanstalk:container:nodejs:
    NodeEnvironment: production

  aws:elasticbeanstalk:application:environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: "1"
